.formWrap {
  max-width: 400px;
  background-color: rgb(238, 234, 234);
  padding: 15px;
  border: 1px solid rgb(105, 97, 97);
  margin-bottom: 30px;
}

.inputLable {
  display: block;
  font-weight: 600;
  padding-bottom: 20px;
}

.input {
  display: block;
}

.input:hover,
.input:focus {
  border-color: rgb(73, 158, 228);
  outline: none;
}

.button {
  display: block;
  cursor: pointer;
  padding: 5px;
  border: 1px solid rgb(105, 97, 97);
  border-radius: 3px;
  background-color: #fff;
  color: black;
}

.button:hover,
.contactBtn:hover,
.button:focus,
.contactBtn:focus {
  background-color: rgb(105, 97, 97);
  color: #fff;
  outline: none;
}
