:root {
  --main-color: #212121;
  --another-main-color: #ffffff;
  --main-font: 'Roboto', sans-serif;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-text-color-warning: rgb(27, 27, 27);
  --toastify-toast-width: 280px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  /* text-align: center; */
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  /* list-style: none; */
}

img,
span {
  display: block;
}

body {
  font-family: var(--main-font);
  background: var(--another-main-color);
  color: var(--main-color);
}

a {
  text-decoration: none;
  /* outline: none; */
}

.Toastify__close-button {
  color: rgb(65, 61, 61);
}

.Toastify__toast-icon {
  color: rgb(105, 97, 97);
}
